.welcome {
  background-color: aquamarine;
  color: cornflowerblue;
}
.container {
  background-color: white;
  border: 2px solid red;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
  width: 50%;
}
.container-title {
  text-align: center;
  color: dodgerblue;
  text-decoration: underline;
  margin-top: 5px;
}
