.welcome {
  background-color: aquamarine;
  color: cornflowerblue;
}
.container {
  background-color: snow;
  border: 2px solid red;
  padding: 0px 20px 20px 20px;
  margin: 0 auto;
  width: 50%;
}
.container-title {
  text-align: center;
  color: dodgerblue;
  margin-top: 5px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
}
